<div 
  class="<%= style(variant: variant) %>"
  data-controller="<%= component_identifier("Alert") %>"
>
  <% if show_icon %>
    <div class="flex-shrink-0">
      <%= image_tag "icons/#{icon_name}.svg", 
                    class: "w-5 h-5",
                    aria: { hidden: true } %>
    </div>
  <% end %>

  <div class="flex-1 min-w-0">
    <%= content %>
  </div>

  <% if dismissible %>
    <button 
      type="button"
      class="flex-shrink-0 hover:opacity-75 transition-opacity mt-0.5"
      data-action="click-><%= component_identifier("Alert") %>#dismiss"
      aria-label="Dismiss alert"
    >
      <%= image_tag "icons/x-mark.svg", 
                    class: "w-4 h-4",
                    aria: { hidden: true } %>
    </button>
  <% end %>
</div>