<%# app/views/components/badge/component.html.erb %>
<span class="<%= style(variant: variant, size: size, pill: pill, bordered: bordered) %>">
  <% if dot %>
    <div class="<%= dot_classes %>"></div>
  <% end %>

  <%= content %>

  <% if removable %>
    <button 
      type="button"
      class="ml-1 -mr-0.5 hover:opacity-75"
      data-action="click-><%= component_identifier("Badge") %>#remove"
    >
      <%= image_tag "icons/x-mark.svg", 
                    class: "w-3 h-3",
                    aria: { hidden: true } %>
    </button>
  <% end %>
</span>