<!DOCTYPE html>
<html>
  <head>
    <% content_for :head do %>
      <title><%= content_for(:title) || "Foundation" %></title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="mobile-web-app-capable" content="yes">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%# Theme initialization %>
      <script>
        let theme = localStorage.getItem('theme')
        if (!theme) {
          theme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
        }
        document.documentElement.classList.toggle('dark', theme === 'dark')
      </script>

      <%= yield :head %>

      <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico">
      <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
      <link rel="apple-touch-icon" href="/favicon/apple-touch-icon.png">
      <link rel="icon" sizes="192x192" href="/favicon/android-chrome-192x192.png">
      <link rel="icon" sizes="512x512" href="/favicon/android-chrome-512x512.png">
      <link rel="manifest" href="/favicon/site.webmanifest">

      <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
      <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
      <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <% end %>
    <%= yield :head %>
  </head>
  <body data-color-mode="light" data-light-theme="light" data-dark-theme="dark">
    <%= yield %>
  </body>
</html>